<div class="topbar">
  <h1>Hello buddy!</h1>
  <app-search></app-search>
</div>
<div class="playlist-container">
  <div class="button-group">
    <button
      (click)="changeLanguage('hindi')"
      [ngClass]="isHindi ? 'active' : ''"
    >
      Hindi
    </button>
    <button
      [ngClass]="!isHindi ? 'active' : ''"
      (click)="changeLanguage('english')"
    >
      English
    </button>
  </div>

  <div class="big-playlist">
    <div class="main-screen">
      <i class="fa-solid fa-angle-left" (click)="moveSlider(-1)"></i>
      <i class="fa-solid fa-chevron-right" (click)="moveSlider(+1)"></i>
      <div class="info">
        <h3
          class="title"
          innerHTML="{{ trending.albums[Slidercurrent].name }}"
        ></h3>
        <p
          class="sub-title"
          innerHTML="{{ trending.albums[Slidercurrent].name }}"
        ></p>
      </div>
      <div class="img-slide-wrap">
        <ng-container *ngFor="let art of trending.albums; let i = index">
          <img
            src="{{ art.image[2].link }}"
            alt=""
            [ngClass]="i == Slidercurrent ? 'active' : ''"
          />
        </ng-container>
      </div>
    </div>
  </div>
  <h3 class="sub-title gradiant-text">Trending</h3>
  <div class="playlists">
    <div
      class="playlist"
      *ngFor="let album of trending.albums"
      (click)="getsong(album)"
    >
      <div class="art">
        <img src="{{ album.image[1].link }}" alt="" />
      </div>
      <div class="detail">
        <h3 innerHTML="{{ album.name }}"></h3>
        <small *ngFor="let artis of album.artists">{{ artis.name }}, </small>
      </div>
    </div>
    <div
      class="playlist"
      *ngFor="let album of trending.songs"
      (click)="getSingleSong(album)"
    >
      <div class="art">
        <img src="{{ album.image[1].link }}" alt="" />
      </div>
      <div class="detail">
        <h3 innerHTML="{{ album.name }}"></h3>
        <small *ngFor="let artis of album.artists">{{ artis.name }}, </small>
      </div>
    </div>
  </div>
  <h3 class="sub-title gradiant-text">Playlists</h3>
  <div class="playlists">
    <div
      class="playlist"
      *ngFor="let album of playlist"
      (click)="getPlaylist(album)"
    >
      <div class="art">
        <img src="{{ album.image[1].link }}" alt="" />
      </div>
      <div class="detail">
        <h3 innerHTML="{{ album.title }}"></h3>
        <small>{{ album.songCount }}, </small>
      </div>
    </div>
  </div>
  <h3 class="sub-title gradiant-text">charts</h3>
  <div class="playlists">
    <div
      class="playlist"
      *ngFor="let album of charts"
      (click)="getCharts(album)"
    >
      <div class="art">
        <img src="{{ album.image[1].link }}" alt="" />
      </div>
      <div class="detail">
        <h3 innerHTML="{{ album.title }}"></h3>
        <small>{{ album.songCount }}, </small>
      </div>
    </div>
  </div>

  <h3 class="sub-title gradiant-text">Top Albums</h3>
  <div class="playlists">
    <div
      class="playlist"
      *ngFor="let album of topAlbums"
      (click)="getTopAlbums(album)"
    >
      <div class="art">
        <img src="{{ album.image[1].link }}" alt="" />
      </div>
      <div class="detail">
        <h3 innerHTML="{{ album.title }}"></h3>
        <small>{{ album.songCount }}, </small>
      </div>
    </div>
  </div>
</div>
<app-mini-player></app-mini-player>
